1. Create a list called years_list, starting with the year of your birth, and each year thereafter until

In [4]:
years_list = [2000 , 2001 , 2002 , 2003 ,2004 , 2005]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [6]:
years_list[3]
#In 2003

2003

3.In the years list, which year were you the oldest?

In [7]:
years_list[5]
#in the year

2005

4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [46]:
things = ["mozzarella","cinderella","salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [47]:
things[1] = things[1].capitalize()
print(things[1])
# yes it changes the element in the list it capitalizez the first element in string

Cinderella

6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [50]:
surprise = ["Groucho", "Chico", "Harpo"]

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [51]:
surprise[2] = surprise[2].lower()
print(surprise[2])

harpo

In [52]:
surprise[2] = surprise[2][::-1]
print(surprise[2])

oprah

In [53]:
surprise[2].capitalize()

'Oprah'

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [55]:
e2f = {"dog":"chien" , "cat":"chat","walrus":"morse"}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [56]:
print(e2f.get("walrus"))

morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [58]:
f2e = dict([ele[::-1] for ele in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [59]:
print(f2e.get('chien'))

dog

12. Make and print a set of English words from the keys in e2f.

In [61]:
print(e2f.keys())

dict_keys(['dog', 'cat', 'walrus'])

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [62]:
life = {
    "animals":{"cats":['Henri' ,"Grumpy","Lucy"] , "octopi":{} , "emus":{}} ,
    "plants":{},
    "other":{}
}

In [63]:
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

14. Print the top-level keys of life.

In [64]:
print(list(life.keys()))

['animals', 'plants', 'other']

15. Print the keys for life[&#39;animals&#39;].

In [69]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']


16. Print the values for life['animals']['cats']

In [70]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']